/********************************************
 * CSS HARD RESET
 * *****************************************/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/*********************************************
 * TRUE STYLES
 * ******************************************/

body {
	background-color: rgb(20, 15, 20);
	overflow: hidden;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#pieces-container1, #pieces-container2 {
	width: 10%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#board {
	height: 86vh;
	aspect-ratio: 1/1;
	max-width: 80vw;
	max-height: 86vh;
	margin-top: 2vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.row {
	height: fit-content;
	width: fit-content;
	max-width: 80vw;
/*	border: 1px dotted red;*/

	display: flex;
	justify-content: center;

	align-self: center;
}

.cell {
	display: flex;

	align-items: center;
	justify-content: center;
	font-size: 3vh;

	aspect-ratio: 1/1 !important;
	border: 1px dashed #555;
	border-radius: 0px;
}

.cell[data-owner = "1"] {
	color: #cf4813;
}

.cell[data-owner = "2"] {
	color: #272c8c;
}

/*
ILLEGAL AND HACKY WAY OF MAKING THE BOARD RESPONSIVE, BECAUSE
FLEXBOX AND GRID ALONE CAN'T BEHAVE THE WAY I WANT
(THIS WORK-AROUND IS KINDA GENIUS THO, ADMIT IT)
*/

.row:first-child:nth-last-child(16) .cell,
.row:first-child:nth-last-child(16) ~ .row .cell {
	max-width: 5vh;	
}
.row:first-child:nth-last-child(15) .cell,
.row:first-child:nth-last-child(15) ~ .row .cell {
	max-width: 5.33vh;	
}
.row:first-child:nth-last-child(14) .cell,
.row:first-child:nth-last-child(14) ~ .row .cell {
	max-width: 5.71vh;	
}
.row:first-child:nth-last-child(13) .cell,
.row:first-child:nth-last-child(13) ~ .row .cell {
	max-width: 6.15vh;	
}
.row:first-child:nth-last-child(12) .cell,
.row:first-child:nth-last-child(12) ~ .row .cell {
	max-width: 6.66vh;	
}
.row:first-child:nth-last-child(11) .cell,
.row:first-child:nth-last-child(11) ~ .row .cell {
	max-width: 7.27vh;	
}
.row:first-child:nth-last-child(10) .cell,
.row:first-child:nth-last-child(10) ~ .row .cell {
	max-width: 8vh;	
}
.row:first-child:nth-last-child(9) .cell,
.row:first-child:nth-last-child(9) ~ .row .cell {
	max-width: 8.88vh;	
}
.row:first-child:nth-last-child(8) .cell,
.row:first-child:nth-last-child(8) ~ .row .cell {
	max-width 10vh;	
}




.cell:first-child:nth-last-child(16),
.cell:first-child:nth-last-child(16) ~ .cell {
	width: 5vh;
	max-height: 5vh;
}
.cell:first-child:nth-last-child(15),
.cell:first-child:nth-last-child(15) ~ .cell {
	width: 5.33vh;
	max-height: 5.33vh;
}
.cell:first-child:nth-last-child(14),
.cell:first-child:nth-last-child(14) ~ .cell {
	width: 5.71vh;
	max-height: 5.71vh;
}
.cell:first-child:nth-last-child(13),
.cell:first-child:nth-last-child(13) ~ .cell {
	width: 6.15vh;
	max-height: 6.15vh;
}
.cell:first-child:nth-last-child(12),
.cell:first-child:nth-last-child(12) ~ .cell {
	width: 6.66vh;
	max-height: 6.66vh;
}
.cell:first-child:nth-last-child(11),
.cell:first-child:nth-last-child(11) ~ .cell {
	width: 7.27vh;
	max-height: 7.27vh;
}
.cell:first-child:nth-last-child(10),
.cell:first-child:nth-last-child(10) ~ .cell {
	width: 8vh;
	max-height: 8vh;
}
.cell:first-child:nth-last-child(9),
.cell:first-child:nth-last-child(9) ~ .cell {
	width: 8.88vh;
	max-height: 8.88vh;
}
.cell:first-child:nth-last-child(8),
.cell:first-child:nth-last-child(8) ~ .cell {
	width: 10vh;
	max-height: 10vh;
}



.cell:hover {
	border: 1px solid white;
}

.cell[data-owner="1"],.cell[data-owner="2"] {
	border: 0px solid #555;
}

.center-cells {
	border: 1px dashed white;
}

.piece-button {
	border: 0px solid white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 1);
	box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 1);
	transition-duration: 0.1s;
}

.big-piece {
	width: 80%;
	aspect-ratio: 1/1;
}

.small-piece {
	width: 40%;
	aspect-ratio: 1/1;
}

.horizontal-long-piece {
	width: 80%;
	aspect-ratio: 2/1;
}

.vertical-long-piece {
	width: 40%;
	aspect-ratio: 1/2;
}

.P1-piece {
	color: #cf4813;
	font-size: 1.2em;

	background: #f3d55d;
	background: -webkit-linear-gradient(to bottom left, #f3d55d, #f29140 85%, #f25b40);
	background: linear-gradient(to bottom left, #f3d55d, #f29140 85%, #f25b40);
}

.P2-piece {
	color: #272c8c;
	font-size: 1.2em;

	background: #40aef5;
	background: -webkit-linear-gradient(to bottom left, #40aef5, #124fd3 85%, #18339e);
	background: linear-gradient(to bottom left, #40aef5, #124fd3 85%, #18339e);
}

.piece-button:hover, #start-stop-btn:hover {
	transform: scale(1.04);
	border: 2px solid white;
}

.piece-button.selected-piece {
	border: 3px solid white
}

#start-stop-btn {
	color: white;
	font-size: 1.2em;
	border: 0px solid white;
	border-radius: 3.5vh;
	background: black;

	height: 7vh;
	aspect-ratio: 5/3;
	width: auto;

	position: absolute;
	bottom: 2vh;
	/*code smell, i know, but i want this button centralized*/
	left: calc(50% - 5.8vh);
}

#start-stop-btn.start {
	background: #4de879;
	background: -webkit-linear-gradient(to bottom, #4de879, #2bc496 85%, #1dad9a);
	background: linear-gradient(to bottom, #4de879, #2bc496 85%, #1dad9a);
}

#start-stop-btn.stop {
	background: #de3551;
	background: -webkit-linear-gradient(to bottom, #de3551, #b31b2a 85%, #991212);
	background: linear-gradient(to bottom, #de3551, #b31b2a 85%, #991212);
}

@media(max-width: 824px){
	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#board {
		height: 60vh;
		max-height: 60vh;
	}

	#pieces-container1, #pieces-container2 {
	width: 100%;
	height: 12vh;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	}

	.big-piece {
		width: 20%;
		aspect-ratio: 1/1;
	}

	.small-piece {
		width: 10%;
		aspect-ratio: 1/1;
	}

	.horizontal-long-piece {
		width: 20%;
		aspect-ratio: 2/1;
	}

	.vertical-long-piece {
		width: 10%;
		aspect-ratio: 1/2;
	}

	.P1-piece {
		margin-top: 5vh;
	}

	.P2-piece {
		bottom: 10vh;
	}

	#board {
		margin-top: 0vh;
		margin-left: 10%;
	}

	.cell {
		font-size: 1.3em;
	}
}






